.footer{
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}
.infoImage{
    height: 8rem;
}

.covid19{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.credits{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.createdBy,
.logoBy{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerHeader{
    color: rgba(108,117,125,.8) !important;
    font-weight: 600;
}

.names{
    color: #6c757d !important;
    font-weight: 900;
}

@media (max-width: 990px){
    .footer{
        height: unset;
        flex-direction: column;
        height: 25rem;
    }
    .logoBy{
        padding-top: 1rem;
    }
    .infoImage{
        padding-top: 1rem;
    }
  }
  