.table{
    margin-top: 20px;
    overflow: scroll;
    height: 800px;
    background-color: lightgrey;
}

.table tr{
    display: flex;
    justify-content: space-between;
}

.table td{
    padding: 0.5rem;
}